#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
.carousel-container{
  width: 90%;
  margin: 0 auto;
}
.carousel-img{
   width: 70%;
   height: 70vh;
   object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  font-size: 24px;
  color: #fff;
}
.icon-container{
  display: flex;
  justify-content: space-between;
  width: 62%;
  margin: -250px auto;
}
#icon{
  font-size: 30px;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}
.main-heading{
  color: #D91E1E;
}
